.bar-header {
  height: 64px;
  padding: 0;
}
.avatar-water {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-size: cover;
}
.info-waiter {
  padding: 0 8px;
  width: 96px;
}
.tabs-app {
  font-size: 20px;
  color: #fff;
  width: 88px;
  &.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
a {
  text-decoration: none !important;
}
.text-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-header {
  top: 64px;
}
.menu-food-left {
  background: #111;
  width: 96px;
}
.list-customize {
  li {
    padding: 16px 4px;
    background-color: transparent;
    border: none;
    border-width: 0;
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-left: 4px solid transparent;
    i {
      font-size: 28px;
    }
    &.active {
      background: #000;
      color: #fff;
      border-left: 4px solid #387ef5;
    }
    &.activated {
      background-color: #000;
      border-color: #387ef5;
    }
  }
}
.width-1-3 {
  width: 100%/3;
  float: left;
  padding: 8px;
  height: 100px;
}
.all-foods {
  padding: 8px;
  overflow: hidden;
  .food-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
  }
  .shadow-info {
    background-color: rgba(32,43,54,.5);
  }
}
.close-modal-food {
  width: 64px;
  i {
    font-size: 24px;
  }
}
.button-modal-food {
  color: #fff;
}
.price-modal-food {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
}
.food-options {
  padding: 8px;
  overflow: hidden;
  ul {
    li {
      width: 50%;
      float: left;
      padding: 8px;
      .option-modal {
        border: 1px solid #bbb;
        padding: 8px;
        text-transform: capitalize;
        &.active {
          background-color: #222;
          color: #fff;
        }
      }
    }
  }
}
.label-food {
  padding: 16px 16px 0 16px;
}
.label-food-discount {
  padding: 0 16px;
}
.food-discounts {
  padding: 8px;
  li {
    float: left;
    width: 50%;
    padding: 8px;
    .item {
      border: 1px solid #bbb;
      font-size: 14px;
      color: #000;
      padding: 8px 80px 8px 8px;
      text-transform: capitalize;
    }
  }
}
.name-modal-food {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
.quantity-food-modal {
  height: 66px;
  padding: 8px;
}
.button-quantity {
  width: 58px;
  border: 1px solid #bbb;
  font-size: 22px;
}
.food-quantity {
  width: 58px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.info-food-modal {
  padding: 8px;
}
.food-note {
  padding: 8px;
  textarea {
    width: 100% !important;
    padding: 8px;
    border: 1px solid #bbb;
    height: 50px;
    max-height: 50px;
  }
}
.bold {
  font-weight: 600;
}
.main-content {
  width: 66%;
  float: left;
}
.order-content {
  width: 34%;
  left: initial;
}
.theme-cashier {
  background-color: #512DA8 !important;
  border-color: initial !important;
  border-bottom: none;
  border-top: none;
}
.theme-cashier-order {
  background-color: #673dcb;
  border: none;
}
.modal-backdrop {
  background-color: transparent;
}
.back-ground {
  background-color: #eee;
}
a:hover, a:focus {
  color: inherit;
}
@media (min-width: 680px) {
  .modal {
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    min-height: 240px;
    width: 80%;
  }
}
.table-order {
  padding: 8px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.customer_number {
  font-size: 16px;
  margin-left: 4px;
}
.footer-order {
  height: 130px;
  display: block;
}
.has-footer {
  bottom: 0;
}
.label-category {
  background-color: #ddd;
  font-size: 16px;
}
.delivered-food {
  padding: 0 8px;
  font-size: 20px;
}
.subtotal-food.ng-binding {
  padding: 0 8px;
  font-weight: 600;
}
.name-food {
  font-weight: 600;
}
.option-list {
  padding: 0 8px 0 28px;
}
.one-food {
  padding: 4px 0;
}
.quantity-food {
  padding: 0 8px;
}
.food-take-away {
  li {
    padding-left: 40px;
    border-width: 0;
    border-color: transparent;
    border: none;
    margin: 0;
    input {
      margin-left: -8px !important;
    }
  }
}
input {
  outline: none !important;
}
.button-confirm {
  width: 100%;
  button {
    margin: 0 !important;
  }
}
.group-function-order {
  padding: 4px 0;
  .button {
    min-height: 36px !important;
    line-height: 36px !important;
    &.active {
      border-color: #673dcb;
      background-color: #673dcb;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }
}
.total-order {
  font-weight: 600;
  font-size: 18px;
}
.header-tax-discount {
  padding: 16px 16px 0 16px;
  text-transform: uppercase;
  font-size: 16px;
}
.tax-discount {
  width: 33%;
  float: left;
  height: 110px;
  padding: 8px;
}
.list-tax-discount {
  overflow: hidden;
  padding: 8px;
}
.name-tax-discount {
  background-color: #d9534f;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.amount-tax-discount {
  font-size: 20px;
}
.calculator-order.activeCalculator {
  bottom: 177px !important;
}
.footer-order.activeCalculator {
  height: 177px !important;
}
